.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/heartmain.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/likebtn.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  position: absolute;
  background-image: url(../images/deletebtn.svg);
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/deletebtnhover.svg);
}

.card__title {
  margin: 0;
  max-width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 100%;
  }
}
