.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffff;
  padding: 32px 50px;
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal_is-opened .modal__container {
  transform: scale(1);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0;
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover img {
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  color: #212121b2;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  max-width: 630px;
  max-height: 52px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212140;
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  border: none;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #ffff;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  display: inline-block;
  color: white;
  padding: 6px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  background-color: #212121;
  border-radius: 8px;
  max-width: 80vw;
  word-wrap: break-word;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
