.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  max-width: 420px;
  opacity: 1;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  max-width: 420px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 0.55;
}

.profile__edit-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  margin-top: auto;
  opacity: 0.7;
  background: none;
  border: none;
  margin-right: auto;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  margin-left: auto;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 18px 32px;
  border: none;
  cursor: pointer;
  font: inherit;
  color: #fff;
  margin-top: auto;
  white-space: nowrap;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
    font-weight: 500;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin-left: 0;
    width: 100%;
  }

  .profile__edit-btn {
    justify-content: center;
    margin-right: 0;
  }
}
